@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  padding: 0;
  border: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

:root {
  --black: #0b1617;
  --main: #00ff72;
  --white: #fff;
  --gray: #c4c5c5;
  --light: #999;
  --light-main: #0fff5d92
}

::selection {
  background: transparent;
  color: var(--white);
}

body {
  background: var(--black);
  font-family: Poppins;
}

p, h1, h2, h3, h4, a, li {
  color: var(--white);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

header .logo h2 {
  color: var(--gray);
}

header .logo h2 span {
  color: var(--main);
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav li {
  margin: 1rem;
}

.nav li a {
  color: var(--gray);
}

.nav li .a {
  color: var(--main);
  background: transparent;
  padding: .8rem;
  border-radius: .3rem;
  border: 1px solid var(--main);
  transition: .3s;
}

.nav li .a:hover {
  background: var(--light-main);
}

.home {
  padding: 5% 7.5rem;
  width: 100%;
}

.home-text {
  width: 100%
}

.home-text p {
  margin-top: 1rem;
}

.home .p1 {
  font-family: Times New Roman;
  color: var(--main);
  margin-bottom: .7rem;
}

.home .h1 {
  font-size: 4.5rem;
  padding: 0;
  color: var(--gray);
  margin: 0;
}

.home .h2 {
  font-size: 4rem;
  paddng: 0;
  margin-top: .8rem;
  color: #999;
}

.home span {
  color: var(--main);
}

.home .p2 {
  color: var(--gray);
  width: 80%;
}

.home button {
  background: transparent;
  border: 1px solid var(--main);
  padding: 1rem;
  width: 15rem;
  margin-top: 2rem;
  border-radius: .3rem;
  transition: .3s;
}

.home button:hover {
  background: var(--light-main);
}

.home button .resume {
  color: var(--main);
  transition: .3s;
}

.home button .resume:hover {
  color: var(--white);
}

.about {
  padding: 5% 7.5rem;
  width: 100%;
  margin-top: 4rem;
}

.about h2 {
  color: var(--gray);
  margin-bottom: 3rem;
  font-size: 2rem;
}

.about h2 > span {
  color: var(--main);
  font-size: 1.5rem;
}

.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-itms: center;
  grid-gap: 1rem;
}

.about-img video {
  width: 18rem;
  height: 17rem;
}

.about-img div {
  border-style: dashed;
  width: 19.5rem;
  height: 18.5rem;
  border-width: 2px;
  border-color: var(--main);
  paddig: 1rem;
  border-radius: .3rem;
  background: transparent;
  display: grid;
  place-items: center;
}

.about-text {
  width: 90%;
}

.about-text p {
  color: var(--gray);
  line-height: 1.5rem;
  margin: 1rem;
}

.about-text ul {
  display: flex;
  justify-conent: center;
  align-items: center;
  flex-wrap: wrap;
}

.about-text ul li {
  margin: .8rem;
  color: var(--gray);
  list-style-type: circle;
}

.experience {
  padding: 5% 7.5rem;
  width: 100%;
  margin-top: 4rem;
}

.experience h2 {
  color: var(--gray);
  margin-bottom: 3rem;
  font-size: 2rem;
}

.experience h2 > span {
  color: var(--main);
  font-size: 1.5rem;
}

.ex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.ex1 {
  margin: 1rem;
  display: block;
  width: 60%;
}

.ex1 li {
  margin: 1.5rem;
  padding: .7rem;
  color: var(--gray);
  transition: .4s
}

.ex1 li:hover {
  background: var(--light-main);
  color: var(--main);
}

.ex1 li:first-child {
  color: var(--main);
  border-left: 2px solid var(--main);
}

.ex2 {
  width: 100%
}

.ex2 h3, p {
  margin-bottom: 1rem;
}

.ex2 li h3 {
  color: var(--gray);
}

.ex2 li h3 > span {
  color: var(--main);
}

.ex2 li p {
  color: var(--light);
}

.show {
  display: initial;
}

.hide {
  display: none;
}

.work {
  padding: 5% 7.5rem;
  width: 100%;
  margin-top: 4rem;
}

.work h2 {
  color: var(--gray);
  margin-bottom: 3rem;
  font-size: 2rem;
}

.work h2 > span {
  color: var(--main);
  font-size: 1.5rem;
}

.works {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.work-list{
  background: #102123;
  padding: 1.5rem;
  width: 23rem;
  border-radius: .3rem;
}

.contact {
  padding: 5% 7.5rem;
  width: 100%;
  margin-bottom: 5rem;
}

.contact h2 {
  color: var(--gray);
  margin-bottom: 3rem;
  font-size: 2rem;
}

.contact h2 > span {
  color: var(--main);
  font-size: 1.5rem;
}

.contact form {
  background: #102123;
  padding: 1rem;
  display: grid;
  place-items: center;
}

.contact form input,textarea {
  width: 60%;
  margin: .5rem;
  padding: .8rem;
  background: var(--black);
  
  color: var(--light);
  border-radius: .3rem;
  outline: none;
}

footer {
  background: #102123;
  padding: 1.5rem;
  text-align: center;
  border-radius: .3rem;
  color: var(--light);
}

footer span {
  color: var(--main);
}

.btn{
  display: none;
}

.btn div{
  width: 1.5rem;
  height: .2rem;
  background: var(--light);
  margin-bottom: .3rem;
  border-radius: .4rem;
}

@media only screen and (max-width: 600px) {
  .nav {
    display: none;
    background: #102123;
    padding: 1rem;
    text-align: left;
    width: 18rem;
    border-right: .3rem;
    top: 5rem;
    left: 3rem;
    right: 0;
    position: absolute;
    transition: .3s;
  }
  
  .nav.open{
    display: block;
    transition: .3s;
  }

  .home {
    padding: 5% 1rem;
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .home .h1 {
    font-size: 2.5rem;
  }

  .home .h2 {
    font-size: 2rem;
  }

  .home-text .p2 {
    width: 100%;
    line-height: 1.5rem;
  }

  .home button {
    width: q5rem;
    padding: .7rem;
    margin-top: 1rem;
  }

  .about {
    padding: 5% 1rem;
  }

  .about-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-itms: center;
    grid-gap: 1rem
  }

  .experience {
    padding: 5% 1rem;
  }

  .ex {
    display: block;
    justify-content: center
  }

  .ex1 {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-bottom: 1rem;
    width: 100%;
  }

  .ex1 li:first-child {
    color: var(--main);
    border-bottom: 2px solid var(--main);
    border-left: 0;
  }

  .work {
    padding: 5% 1rem;
  }

  .contact {
    padding: 5% 1rem;
  }

  .contact form input,textarea {
    width: 100%;
  }
  
  .btn{
    display: initial;
  }
  
}

.loader{
  position: absolute;
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  background: var(--black);
}

.loader img{
  width: 10rem;
}