*{
				padding: 0;
				margin: 0;
				box-sizing: border-box;
				font-family: 'Poppins', sans-serif;
				scroll-behavior: smooth;
				list-style: none;
				text-decoration: none;
}
:root{
				--main-color: #00eaff;
				--text-color: white;
				--bg-color:#111111;
				--big-font:4rem;
				--h2-font:2.25rem;
				--p-font:0.9rem;
}
*::section{
				background: var(--main-color);
				color:#fff;
}
body{
				color: var(--text-color);
				background: var(--bg-color);
}
header{
				position: fixed;
				top: 0;
				right: 0;
				width: 100%;
				z-index: 1000;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 30px 17px;
				background: #111111;
}
.logo{
       color: white;
				font-weight: 600;
				font-size: 2.4rem;
				font-family: cursive;
}
.navbar{
				display: flex;
}
.navbar a{
				color: white;
				font-size: 1.1rem;
				padding: 10px 20px;
				font-weight: 500;
}
.navbar a:hover{
				color: var(--main-color);
				transition: .4s;
}
#menu-icon{
				font-size: 2rem;
				cursor: pointer;
				display: none;
}
.bar1, .bar2, .bar3{
								width:19px;
								height:2px;
								background: white;
								margin:4px 0;
}
section{
				padding: 70px 17%;
}
.home{
				width: 100%;
				min-height: 9vh;
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				grid-gap: 1.5rem;
				align-items: center;
}
.home-img img{
				max-width: 100%;
				width: 600px;
				height: auto;
				border-radius: 50px;
}
.home-text h2{
				font-size: var(--big-font);
				color: var(--main-color);
				margin-top: 40px;
}
.home-text h4{
				font-size: 20px;
				margin: 1rem 0 2rem;
				font-family: monospace;
}
.home-text h4 i{
				font-family: Poppins;
}
.btn{
				display: inline-block;
				padding: 10px 20px;
				background: var(--main-color);
				color: black;
				border-radius: 0.5rem;
				border:0px;
}
.btn:hover{
				transform: scale(1.2) translateY(10px);
				transition: .4s;
}
.about{
				display:grid;
				grid-template-columns: repeat(2, 2fr);
				grid-gap: 1.5rem;
				align-items: center;
}
.about-img img{
				max-width: 100%;
				width: 250px;
				height: 250px;
				border-radius: 10px;
}
.about-text span{
				color: var(--main-color);
				font-weight: 600;
}
.about-text h2{
				font-size: var(--h2-font);
}
.about-text p{
				margin: 0.8rem 0 1.8rem;
				line-height: 1.7;
}
.heading{
				text-align: center;
}
.heading span{
				color: var(--main-color);
				font-weight: 600;
}
.heading h2{
				font-size: var(--h2-font);
}

.web .title{
				color: white;
				text-align: center;
				font-size: var(--h2-font);
				margin-bottom: 20px;
}
.webvium{
				display: flex;
				margin-right: 60px;
				
}
.web-img img{
				width: 200px;
				height: 200px;
				border-radius: 50%;
}
.webvium-text .h2{
				font-size: 20px;
				text-align: center;
				color: var(--main-color);
}
.img-card{
				display: flex;
				justify-content: center;
				align-items: center;
}
.card {
         box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.3), 0 7px 10px 0 rgba(0, 0, 0, 0.20);
         box-sizing: border-box;
         width: 250px;
         font-family: sans-serif;
         margin: 15px;
         border-radius: 6px;
         padding: 10px;
      }
      .card-text {
         padding: 10px;
      }
      .card:hover{
      				transform: scale(1.0) translateY(-20px);
				transition: .4s;
      }
      .card-text .card-head{
      				font-size: 20px;
      				text-align: center;
      				margin-bottom: 10px;
      }
      .card-text .describe{
      				text-align: center;
      				line-height: 1.6;
      }
      .card > img {
         width: 100%;
         height: auto;
      }

.t{
				color: white;
				font-size: var(--h2-font);
				text-align: center;
				padding-bottom: 10px;
}

.t span{
				color: var(--main-color);
}

.form .text{
				text-align: center;
				color: var(--main-color);
				font-size: 30px;
				margin-bottom: 20px;
}
.form .text span{
				color: white;
}
form .email{
				width: 100%;
				border-radius: 5px;
				padding: 15px;
			  border: 0px;
			  outline: none;
			  margin-bottom: 12px;
}
form .textarea{
				width: 100%;
				border-radius: 5px;
				padding: 20px;
				border: 0px;
				outline: none;
}
footer{
    bottom: 0;
    left: 0;
    right: 0;
    background: #000000d0;
    height: auto;
    width: 100vw;
    color: #fff;
    padding: 5px;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content .link{
				text-align: center;
				color: white;
}
.footer-content .link a{
				color: white;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid #00eaff;
    padding: 5px;
    border-radius: 50%;
}

.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socials a:hover i{
    color: aqua;
    transition: .5s;
}

.footer-content copy{
   float: left;
   font-size: 14px;
   word-spacing: 2px;
   text-transform: capitalize;
}
.footer-content copy a{
  color:#44bae8;
  font-size: 16px;
  text-decoration: none;
}
.footer-content span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
@media(max-width: 1560px){
				header{
								padding: 15px 40px;
				}
				:root{
								--big-font:3.5rem;
								--h2-font,:2rem;
				}
}
@media(max-width: 800px){
				section{
								padding: 50px 8%;						
				}
				#menu-icon{
								display: initial;
								color: var(--text-color);
				}
				header .navbar{
								position: absolute;
								top: -380px;
								right: 0;
								left: 0;
								display: flex;
								flex-direction: column;
								text-align: center;
								background: #000000d0;
								transition: .3s;
				}
				header .navbar.active{
								top:46px;
				}
				.navbar a{
								padding: 1rem;
								display: block;
				}
}
@media(max-width: 720px){
				header{				
								padding: 10px 16px;
				}
				.logo{
				color: white;
				font-weight: 600;
				font-size: 1.4rem;
}
				
				section{
				padding-top: 50px;
}

.home-img img{
				max-width: 100%;
				width: 200px;
				height: auto;
				border-radius: 10px;
}
.home-text h2{
				font-size: 30px;
				margin-top: 40px;
				color: var(--main-color);
}
.home-text h4{
				font-size: 1rem;
				margin: 1rem 0 2rem;
}
				.home{
								grid-template-columns: 1fr;
								text-align: center;
				}
				.about{
								grid-template-columns: 1fr;
								text-align: center;
				}
				.about-img{
								order: 2;
				}
				.img-card{
				display: block;				
				}
}
